<%- include('../partials/header') %>

    <div class="card">
        <div class="card-body">
            <h3 class="card-title">
                <% users.forEach(function(user) { %>

                    <h2>
                        <%= user.name %>
                    </h2>
                    <p class="card-text">Status: <%= user.status %>
                    </p>
                    <p class="card-text">Sun Sign: <%= user.sunSign %>
                            <br>

                            <a href="/" class="learn">Learn more</a>
                            <br>
                            <br>
                    </p>
                    <p class="card-text">Moon Sign: <%= user.moonSign %>
                            <br>
                            <a href="/" class="learn">Learn more</a>
                            <br>
                            <br>
                    </p>
                    <p class="card-text">Asc Sign: <%= user.ascSign %>
                            <br>

                            <a href="/" class="learn">Learn more</a>
                            <br>
                            <br>

                    </p>
                    <br>
                    <br>
                    <hr>
                    <br>
                    </form>

                    <% }) %>
        </div>
    </div>
    </div>
    </div>

    <%- include('../partials/footer') %>