<%- include('../partials/header') %>

  <h3>
    <%= title %>
  </h3>

  <div class="card" style="width: 18rem;">
    <!-- If our user doesn't have an avatar image, let's use a silly cat picture! -->
    <img id="avatarPhoto" style="height: 18rem;" class="card-img-top"
      src="<%= userInfo.avatar ? userInfo.avatar : 'http://theoldreader.com/kittens/300/300/'  %>" alt="Card image cap">
    <div class="card-header">
    </div>
    <div class="card-body">
      <h5 class="card-title">
        <%= userInfo.name %>
      </h5>

          <!-- This is where we'll render buttons to add/remove a user as a match -->
          <% if (!userInfo._id.equals(user._id) && !user.matches.includes(userInfo._id)) { %>
            <a href="/users/<%= userInfo._id %>/match" class="btn btn-primary">Add Match</a>
            <% } %>
              <% if (!userInfo._id.equals(user._id) && user.matches.includes(userInfo._id)) { %>
                <a href="/users/<%= userInfo._id %>/unmatch" class="btn btn-primary">Remove Match</a>
                <% } %>
    </div>
  </div>

  <%- include('../partials/footer') %>