<%- include('../partials/header') %>

<section class="wrapper">

    <form action="/messages" method="POST">
        <div class="form-group">
            <input type="text" class="form-control" aria-describedby="message" name="title"
                placeholder="Say something kind!">
        </div>
        <button type="submit" class="btn btn-success">Create Post</button>
    </form>
    </section>

    <% messages.forEach(function(message) { %>
        <section class="wrapper">
                <%= message.postedBy %> <img id="avatarPhoto" width="30" src="<%= message.avatar %>" alt="">
            
                <hr>
                <h5 class="card-title">
                    <%= message.title %>
                </h5>
                <h6>
                    <%= message.createdAt.toLocaleString()%>
                </h6>
                <a href="/messages/<%= message._id %>" class="btn btn-primary">See Post</a>
            </div>
        </section>
        <% }) %>

<%- include('../partials/footer') %>