<%- include('../partials/header') %>

<section class="wrapper">

<h4><%= message.title %></h4>
<h5>Posted on <%= message.createdAt.toLocaleString() %> - <%= message.postedBy %> <img id="avatarPhoto" width="30" src="<%= message.avatar %>" alt=""></h5>

<form action="/messages/<%= message._id %>" method="POST">
  <div class="form-group input">
    <input type="text" class="form-control" aria-describedby="message" name="message" placeholder="Say something nice!">
  <button type="submit" class="btn btn-primary">Reply</button>
</form>
  </section>

<% message.replies.forEach(reply => { %>
  <section class="wrapper">
          <%= message.postedBy %>
       <hr>
    <h6><%= reply.message %></h6>
  </section>

<% }) %>
<br>

<%- include('../partials/footer') %>