<%- include('../partials/header') %>

    <div class="card">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="profileinfo" role="tabpanel" aria-labelledby="profileinfo-tab">
                <div class="card-body">

                    <form action="/users/profile?_method=PUT" method="POST">

                        <h5 class="card-title">Name: <%= user.name %>
                        </h5>

                        <label>Bio:</label>
                        <input type="text" name="name" value="<%= user.bio %> ">

                        

                        <br>
                        <label>Sun Sign: </label>
                        <select name="sunSign" value="<%= user.sunSign %> ">
                            <option value="aquarius">Aquarius</option>
                            <option value="Pisces">Pisces</option>
                            <option value="Aries">Aries</option>
                            <option value="Taurus">Taurus</option>
                            <option value="aquarius">Gemini</option>
                            <option value="Pisces">Cancer</option>
                            <option value="Aries">Leo</option>
                            <option value="Taurus">Virgo</option>
                            <option value="aquarius">Libra</option>
                            <option value="Pisces">Scorpio</option>
                            <option value="Aries">Sagittarius</option>
                            <option value="Taurus">Capricorn</option>
                        </select>
                        <br>
                        <label>Moon Sign: </label>
                        <select name="moonSign" value="<%= user.sunSign %>">
                            <option value="aquarius">Aquarius</option>
                            <option value="Pisces">Pisces</option>
                            <option value="Aries">Aries</option>
                            <option value="Taurus">Taurus</option>
                            <option value="aquarius">Gemini</option>
                            <option value="Pisces">Cancer</option>
                            <option value="Aries">Leo</option>
                            <option value="Taurus">Virgo</option>
                            <option value="aquarius">Libra</option>
                            <option value="Pisces">Scorpio</option>
                            <option value="Aries">Sagittarius</option>
                            <option value="Taurus">Capricorn</option>
                        </select>
                        <br>
                        <label>Asc Sign: </label>
                        <select name="ascSign" id="ascSign" value="<%= user.sunSign %>">
                            <option value="aquarius">Aquarius</option>
                            <option value="Pisces">Pisces</option>
                            <option value="Aries">Aries</option>
                            <option value="Taurus">Taurus</option>
                            <option value="aquarius">Gemini</option>
                            <option value="Pisces">Cancer</option>
                            <option value="Aries">Leo</option>
                            <option value="Taurus">Virgo</option>
                            <option value="aquarius">Libra</option>
                            <option value="Pisces">Scorpio</option>
                            <option value="Aries">Sagittarius</option>
                            <option value="Taurus">Capricorn</option>
                        </select>
                        <br>
                        <button type="submit">Submit</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer') %>