<%- include('../partials/header') %>

<% users.forEach(function(u) { %> 
  <form action="/users/<%= u._id %>?_method=DELETE" method="POST">
    <p class="card-text">Email: <%= u.email %>
    </p>
    <p class="card-text">Bio: <%= u.bio %>
    </p>
    <p class="card-text">Sun sign: [placeholder]</p>
    <p class="card-text">Moon sign: [placeholder]</p>
    <p class="card-text">Asc sign: [placeholder]</p>
      <button type="submit">X</button>
      <br>
      <br>
  </form>
  <% }) %>

<%- include('../partials/footer') %>
