<%- include('../partials/header') %>


  <div class="card">
    <div class="tab-content">
      <div class="tab-pane fade show active">
        <div class="card-body">
          <h5 class="card-title">
            <%= user.name %>
          </h5>
          <a href="/edit">Edit Profile</a>
          <a href="/matches">View Matches</a>
          <p class="card-text">Email: <%= user.email %>
          </p>
          <p class="card-text">Bio: <%= user.bio %>
          </p>
          <p class="card-text">Sun sign: [placeholder]</p>
          <p class="card-text">Moon sign: [placeholder]</p>
          <p class="card-text">Asc sign: [placeholder]</p>
        </div>
      </div>
    </div>
  </div>

  <%- include('../partials/footer') %>