<%- include('../partials/header') %>

<div class="card">

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="profileinfo" role="tabpanel" aria-labelledby="profileinfo-tab">
        <div class="card-body">
          <h5 class="card-title">Name: <%= user.name %></h5>
          <a href="/users/<%= user._id %>/edit">Edit Profile</a>

          <p class="card-text">Email: <%= user.email %></p>
          <p class="card-text">Bio: <%= user.bio %></p>

          <p class="card-text">Sun Sign: <%= user.sunSign %></p>
          <p class="card-text">Moon Sign: <%= user.moonSign %></p>
          <p class="card-text">Asc Sign: <%= user.ascSign %></p>


        </div>
      </div>
    </div>
  </div>


<%- include('../partials/footer') %>
